<div class="container mt-3">
  <h1>Services edit</h1>
  <% if params[:action] == "edit" %>
    <h1>Editing: <%= @service.id %> </h1>
  <% end %>
  <%= simple_form_for @service do |f| %>
    <%= f.input :description, placeholder: @service.description %>
    <%= f.input :price, placeholder: @service.price %>
  <% end %>
</div>
