// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$navbar-gray: rgb(220, 220, 220);
$light-purple: rgba( 103, 0, 167, .62);
$purple: #6700A7;
