.navbar-lewagon {
  justify-content: space-between;
  background-image: url(/assets/navbar_background.png);
  height: 115px;
  padding-bottom: 28px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}


.nav-link-search {
  background-color: white;
  color: $gray;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
}

.nav-link-search-btn {
  background-color: $buttons-purple;
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
}

@media screen and (min-width: 640px){
    .flex-container {
      display: flex;
    }

    .navbar-brand {
      flex-grow: 1;
    }

    .nav-link-search {
      flex-grow: 3;
      margin-right: 16px;
    }

    .nav-link-search-btn {
      flex-grow: 1;
      margin-right: 16px;

    }
}
