.navbar-purple {
  justify-content: space-between;
  background-image: asset_url('navbar_background.png');
  background-size: cover;

  height: 115px;
  padding-bottom: 28px;
}

.navbar-purple .navbar-collapse {
  flex-grow: 0;
}

.navbar-purple .navbar-brand img {
  width: 100px;
}


.nav-link-search {
  background-color: white;
  color: $gray;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
}

.nav-link-search-btn {
  background-color: $buttons-purple;
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
}

@media screen and (min-width: 640px){
    .flex-container {
      display: flex;
    }

    .navbar-brand {
      flex-grow: 1;
    }

    .nav-link-search {
      flex-grow: 3;
      margin: 0 16px;
    }

    .nav-link-search-btn {
      flex-grow: 1;
      margin: 0 16px;

    }

    .nav-item .nav-link {
      color: white;
    }
}
